<MarketplaceDetails>
  <SmallAppTile>compass_vo_icon_300.png</SmallAppTile>
  <ScreenShots>capture_01_wvga.png;capture_02_wvga.png;capture_03_wvga.png;capture_08_wvga.png;capture_09_wvga.png;;;;</ScreenShots>
  <ScreenShotsWXGA>capture_01_wxvga.png;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>capture_01_720.png;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>